{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}

<div class="container">
    <div class="row row-flex">

        <!--page heading-->
        <div class="col-xs-12 container title">
            <h2 class="page-heading">Vote For Your Book Of The Month</h2>
        </div>

        <!--panels used to display the information in bookreview-->
        {% for bookreview in bookreview %}
            {% if bookreview.active == "yes" %}
                <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 panel panel-default text-center">
                    <div class="panel-heading panel-heading-custom"><h4 class="product-title">{{ bookreview.bookname }}</h4></div>
                    <div class="panel-body panel-viewvotes">
                        <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ bookreview.bookimage }}')"></div>
                        <p>By: {{ bookreview.bookauthor }}</p>
                        <p>Authors Comments: {{ bookreview.authorscomments }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="col-xs-12 col-xs-ofssfset-1 form-section">    
            <div>
                <h4 class="page-heading">Select from one of the books above and write why you want it to win</h4>
            </div>

            <!--comment form and submission button-->
            <form method="POST">
                <div class="form-group">
                    {% csrf_token %} {{ comment_form | as_bootstrap }}
                    <button type="submit" class="btn btn-default custom-button">Submit Vote</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}