{% extends 'base.html' %}
{% block content %}
    
    <!--displays the selected books information in a tidy manner-->
{% for bookreview in bookreview %}
<div class="col-xs-12 container title">

    <!--page heading-->
    <h2 class="page-heading">Book Of The Month Winner - {{ bookreview.monthwinner }}</h2>
</div> 
    <div class="bookreview-body">
        <div class="col-xs-12 col-md-6">
            <h3 class="page-heading">{{ bookreview.booknamereview }}</h3>
            <p>Publisher: {{ bookreview.bookpublisher }}</p>
            <p>Author: {{ bookreview.bookauthor }}</p>
            <p>Comment from the author: {{ bookreview.authorscomments }}</p>
        </div>  
        <div class="bookreview-image col-xs-12 col-md-6 text-center">
            <img class="bookimage" src= {{MEDIA_URL}}{{bookreview.bookimage}}>
        </div>
        <div class="col-xs-12">
            <p>{{ bookreview.bookreview }}</p>
        </div>

        <!--message that updates the user on the availability-->
        <div class="col-xs-12">
            <p>Update: This is an archived review which means there are no special editions left, check in our store to to pick up a standard copy!</p>
        </div>  
        
        <!--back button that takes the user back to review list-->
        <div class="button col-xs-12">
            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary custom-button">Back To Previous Winners List</a>
        </div>          
    </div>
    {% endfor %}
{% endblock %}