{% extends 'base.html' %}
{% block content %}    
<div class="list-body">
    <div class="col-xs-12 container title">

        <!--page heading-->
        <h2 class="page-heading">Previous Reviews Of Winning Books</h2>
    </div> 

    <div class="winner-list">

        <!--displays the selected books information in a tidy manner-->
        {% for bookreview in bookreview %}

            <!--only displays books that have 'yes' selected in bookofthemonth, can be changed by site admin-->
            {% if bookreview.bookofthemonth == "past" %}
        <div>
            <p class="book-title">{{ bookreview.monthwinner }}'s Winning Book: <a class="hover" href="{% url 'previousreview' bookreview.id %}"><b>{{ bookreview.booknamereview}}</b></a></p>
        </div>
            {% endif %}
        {% endfor %}
    </div>

    <!--back button that takes user back to the current book of the month winner-->
    <div class="col-xs-12">
        <p>{{ product.product_decription }}</p>
        <a href="{% url 'currentbookreview' %}" class="btn btn-primary custom-button" class>Back To This Months Winner</a>
    </div>
</div>
{% endblock %}