{% extends 'base.html' %}

{% block content %}
<div class="row row-flex">
    <div class="container col-xs-12 product-group-description">
        <h1>Mineral Wool Insulation</h1>
            <p>Mineral insulation can be separated into two different types either glass or rock. The glass/rock is put
            through a kiln at a very high temperature to create the finished product. Due to the density and the
            air gaps within the rolls mineral wool makes for a good sound insulator either between internal walls
            or below separating floors. The number at the end of the title name refers to the thermal value of the
            product with the lower being a having a better thermal value.
            </p>
        </div>
    {% for product in products %}
        {% if product.product_type == 'glasswool insulation' %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

                <h3>{{ product.name }}</h3>
                <p>{{ product.m2_coverage}}m2 coverage per roll</p>
                <p>Ideal for {{ product.recomended_for }}</p>
                <p>£{{ product.price }} per roll</p>

                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}