{% extends 'base.html' %}

{% block content %}
<div class="row row-flex">
    <div class="container col-xs-12 product-group-description">
        <h1>Plasterboard</h1>
            <p>Plasterboard is made up of dry gypsum that is sandwiched between a facer and a backer. It is used to
            make interior walls and ceilings. By adding certain additives we are able to make the board more suited
            to certain environments such as shower rooms, noisy areas or places where there is a need for higher
            fire protection.
            </p>
        </div>
    {% for product in products %}
        {% if product.product_type == 'plasterboard' %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

                <h3>{{ product.name }}{{ product.thickness }}mm</h3>
                <p>{{ product.m2_coverage}}m2 coverage per sheet</p>
                <p class="thermal_value">Ideal for {{ product.recomended_for }}</p>
                <p>£{{ product.price }} per sheet</p>

                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}