{% extends 'base.html' %}

{% block content %}
<div class="row row-flex">
    <div class="container col-xs-12 product-group-description">
        <h1>Thermal Laminates</h1>
            <p>Thermal laminates are an all in one product that combines finished plasterboard bonded onto insulation.
            There is various types of insulation that is can be bonded to starting from expanded polystyrene(EPS) to
            phenolic foam. Thermal laminate are typically used while upgrading existing buildings and the insulation
            can befitted directly to the timbers or brickwork.
            </p>
        </div>
    {% for product in products %}
        {% if product.product_type == 'thermal laminate' %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

                <h3>{{ product.name }}</h3>
                <p>{{ product.m2_coverage}}m2 coverage per sheet</p>
                <p>{{ product.thermal_value }} thermal value</p>
                <p>Ideal for {{ product.recomended_for }}</p>
                <p>£{{ product.price }} per sheet</p>

                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}