/*-----------------------------base.html*/
body {
    font-family: Arial;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: white;
    background-color: #044e96;
}

.footer-link    {
    color:white;
}

.footer-link:hover  {
    color:#DBB04AFF;
    text-decoration: none;
}

.footer-heading {
    color: white;

}

.footer-design  {
    color:#DBB04AFF;
}

.icon-bar {
    background-color: #4abdac;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

a {
    color:#044e96;
}

/*-----------------------------panels-layout*/
.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
    max-height: 400px;
}

.panel-default > .panel-heading-custom {
    background-color: #044e96;
    height: 75px;
}

.panel-bookreview {
    height: 300px;
}

.panel-viewvotes    {
    height: 267px;
}

.panel-footer-custom {
    background-color: #044e96;
    color:#DBB04AFF;
}

/*----------------bookreview--bookreview.html*/

@media screen and (max-width: 992px) {
    .bookreview-body {
        text-align: center;
    }
}

.bookimage {
    max-height: 300px;
}

/*--------------------------titles-headings*/
.page-heading   {
    color: #044e96;
}

.product-title  {
    color: white;
}

.product-title-link {
    color: white;
}

.product-title-link:hover {
    color: #DBB04AFF;
    text-decoration: none;
}

@media screen and (max-width: 992px) {
    .page-heading {
        text-align: center;
    }
}

/*---------------------------------buttons*/
.custom-button   {
    background-color: #044e96;
    color: white;
    background-image: none;
    margin-top: 5px;
    border-color: #044e96;
}

.custom-button-gold   {
    background-color: #d69d18;
    color: white; 
    background-image: none;
    border-color: #DBB04AFF;
    font-weight: bold;
}

.custom-button:hover   {
    background-color: #044e96;
    color: #DBB04AFF;
    background-image: none;
    border-color: #DBB04AFF;
}
 
.custom-button-gold:hover   {
    background-color: #d69d18;
    color: #044e96;
    background-image: none;
    border-color: #044e96;
}

.landing-button {
    padding-bottom: 10px;
}

.custom-button-search   {
    margin: 0px;
}

/*----------------bookreview--viewvote.html*/



/*----------------product--products.html*/
.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 5px;
}

.product-description {
    min-height: 40px;
}

/*------NOT-FILTERED-----*/

.add-to-cart-eachproduct    {
    margin-top: 10px;
}

.label-add-to-cart-eachproduct  {
    text-align: left;
}

.accountform {
    padding-top: 20px;
}

.cart-page-style   {
    color: #044e96;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

caption p {
    word-wrap: break-word;
}
