{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Miller Merchant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {% block head_js %}
    {% endblock head_js %}
</head>
<body>

    <!--navbar-->
    <nav class="navbar navbar-inverse">
    <div class="navigation"> 
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Miller Merchant</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">

                    <!--links that appear in navbar to all users-->
                    <li><a href="{% url 'products' %}"> Store</a></li>
                    <li><a href="{% url 'reviewlanding' %}"> Book Of The Month</a></li>
                    
                    <!--links that appear in navbar when user is logged in-->
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}"> Profile</a></li>
                        <li><a href="{% url 'logout' %}"> Log Out</a></li>
                    {%  else %}

                    <!--links that appears when user has not logged in-->
                        <li><a href="{% url 'registration' %}"> Register</a></li>
                        <li><a href="{% url 'login' %}"> Log In</a></li>
                    {% endif %}

                    <!--cart count and link in the navbar-->
                    <li>
                        <a href="{% url 'view_cart' %}">
                            <i class="fa fa-shipping-cart"></i> Cart
                            {% if product_count > 0 %}
                            <label class="badge badge-warning">{{ product_count }}</label>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </nav>

    <!--div that allows messages to appear below the navbar-->
    {% if messages %}
                {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            <div class="messages">
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <!--search bar-->
    <div class="container">
        <div class="display">
            <form action="{% url 'search' %}" method="get">
                <input class="col-xs-6 col-xs-offset-2 text-center" type="text" placeholder="search for your favourite book" name="q">
                <button type="submit" class="custom-button custom-button-search">Search</button>
            </form>
        </div>
        {% block content %} {% endblock %}
    </div>

    <!--footer-->
    <footer>
        <div class="footer container">
            <div class="col-xs-12 col-sm-6">
                <h4 class="footer-heading">About Us</h4>
                <p>
                    Miller Merchant was created in 2019 after we were fed up having to shop on book stores that
                    felt so generic and impersonal. Here at Miller Merchant we are trying to build a community along 
                    side running our store by having book of the month competitions and getting exclusive interviews 
                    from some of the top authors in the world.
                </p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h4 class="footer-heading">Site Navigation</h4>
                <p><a class="footer-link" href="{% url 'products' %}">Home</a></p>
                <p><a class="footer-link" href="{% url 'products' %}">Store</a></p>
                <p><a class="footer-link" href="{% url 'reviewlanding' %}">Book Of The Month</a></p>
                <p><a class ="footer-link" href="mailto:info@millermerchant.com">Contact Us</a></p>
            </div>
            <div class="footer-design col-xs-12 text-right">
                <p>by DandelionDesigns</P>
            </div>
        </div>
    </footer>
</body>
</html>